body {
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(9, 117, 27);
}

.game h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}